<div class="jumbotron">
  <h1>"Please wait to be seated"</h1>
    <p>Standing at the door with a vibrator telling you when a table is available sucks. Show the wait staff at your favourite restaurant how do to their job. Pick a restaurant, choose how many friends you want to bring, and SeatYourself.</p>
    <p>Don't see the restaurant you want? Add it.</p>
    <div class="btn btn-default btn-md"><%= link_to "New Restaurant", new_restaurant_path %></div>
</div>

 

<% @restaurant.each do |restaurant| %>
  <div class="rest">
    <div class="thumbnail">
      <div class="caption">
        <h2><%= link_to restaurant.name, restaurant %></h2>
        <p><%= restaurant.address %></p>
        <p><%= restaurant.location %></p>
        <p><%= restaurant.hours %></p>
      </div>
    </div>
  </div>
<% end %>
